@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 400px;
    height: 280px;
    border-radius: 25px;
    position: relative;
  }
  
  @media (max-width: 600px) {
    .card {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  }

.card h3 {
  margin: 0;
  padding: 0rem;
  color: rgb(118, 66, 7);
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}


.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("../images/Profil.jpeg");
  background-position: bottom center;
  background-size: cover;
}
button {
  border: none;
  background: none;
  font-size: 24px;
  color: #ac4403;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #c18e6f  ;
    transform: rotate(22deg)
  }
}
button a{
    color: #ac4403;
    &:hover{
        color: #c18e6f  ;
      }
}
@media (max-width: 600px) {
  .portada {
    width: 100%;
    height: auto;
  }
  .card .actions {
    grid-template-columns: 1fr; /* Mengubah grid-template-columns menjadi 1 kolom pada mode responsif */
    justify-items: center; /* Mengatur posisi item secara horizontal menjadi tengah */
    padding: 0.5rem; /* Mengurangi padding pada mode responsif */
  }
  .card .title {
      font-size: 15px;
    }
  
    .card .desc {
      font-size: 15px;
    }
  
    .card .actions {
      grid-template-columns: 1fr;
      justify-content: center;
    }

}
